src/canvases/faux-customer-initial-customer.json
{
  "Comment": "Faux Customer Initial Customer - We're acting like a customer requesting their work in order to determine if they're in business",
  "StartAt": "1.UpdateHubspot",
  "States": {
    "1.UpdateHubspot": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-update-hubspot",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "object_type": "deal",
            "properties": {
              "alm_faux_customer": "Active"
            }
          }
        }
      },
      "Next": "2.SMS"
    },
    "2.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Hi, are you taking on new work?",
              "Are you a {{primary_category_proNoun}}?",
              "Hi, can I get an estimate for a {{primary_category_taskNoun}}?",
              "Do you {{primary_category_taskActionVerb}}?",
              "Are you a {{primary_category_taskAdjective}} pro? I've got a project",
              "I need help with a {{primary_category_taskAdjective}} project. Do you have availability?",
              "Are you a {{primary_category_proNoun}}? Do you take jobs in {{city}}?",
              "Is this {{business_name}}? Are you taking on new jobs?",
              "Howdy! I've got a {{primary_category_taskAdjective}} job near {{zip}}. Do you give quotes?",
              "Are you taking on {{primary_category_taskAdjective}} projects? I'm looking to hire"
            ]
          }
        }
      },
      "Next": "3.Wait"
    },
    "3.Wait": {
      "Type": "Wait",
      "Seconds": 8,
      "Next": "4.SMS"
    },
    "4.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "George (maybe Jorge?) gave me your number. What's your name",
              "A rep at HD gave me your number. What's your name",
              "I found your number in yellow pages. What's your name",
              "Got your number online but there wasn't much detail. What's your name",
              "What's your name? And what's your availability look like?",
              "Are you in or nearby {{city}}? What's your name?",
              "and what's your name / are you insured in {{state}}?"
            ]
          }
        }
      },
      "Next": "5.CalculateWaitTime"
    },
    "5.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 8,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "6.Wait"
    },
    "6.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "7.SMS"
    },
    "7.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "My project isn't urgent so let me know when you're free",
              "Following up -- no worries if you're on a break b/c of COVID",
              "Shoot me a text when you have a minute to chat",
              "I'd love to chat when you have a sec",
              "Did I get the wrong number?",
              "Is this not {{business_name}}?",
              "Are y'all not taking on new work?",
              "Are you not doing work anymore?"
            ]
          }
        }
      },
      "End": true
    }
  }
}
