src/canvases/intro-are-you-still-in-business.json
{
  "Comment": "Are you still in business? - Opens with asking if they're in business. Then agent would lead with 'well, your website is down'.",
  "StartAt": "1.SMS",
  "States": {
    "1.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Hi, is this {{business_name}}?",
              "Hi, is this {{website}}?",
              "Are you {{website}}?",
              "Are you {{business_name}}?",
              "Is this the number for {{website}}?",
              "Is this the number for {{business_name}}?"
            ]
          }
        }
      },
      "Next": "2.Wait"
    },
    "2.Wait": {
      "Type": "Wait",
      "Seconds": 8,
      "Next": "3.SMS"
    },
    "3.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Did y'all go out of business?",
              "Did you shut down?",
              "Are you still in business?",
              "Have y'all survived the COVID shutdown?"
            ]
          }
        }
      },
      "Next": "4.CalculateWaitTime"
    },
    "4.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 8,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "5.Wait"
    },
    "5.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "6.SMS"
    },
    "6.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "If you're busy just let me know when is good for you.",
              "If y'all are fully booked, just let me know!",
              "Shoot me a text when you have a minute to chat",
              "I'd love to chat when you have a sec"
            ]
          }
        }
      },
      "Next": "7.CalculateWaitTime"
    },
    "7.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 18,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "8.Wait"
    },
    "8.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "9.SMS"
    },
    "9.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Are y'all not taking on new work?",
              "Are you not doing work anymore?",
              "Are you not serving {{city}} any more?",
              "Are you still in {{city}}?"
            ]
          }
        }
      },
      "Next": "10.CalculateWaitTime"
    },
    "10.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 18,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "11.Wait"
    },
    "11.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "12.SMS"
    },
    "12.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Sorry, did I get the wrong number?",
              "Is this not {{business_name}}?",
              "Are you not {{website}}?"
            ]
          }
        }
      },
      "Next": "13.CalculateWaitTime"
    },
    "13.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 48,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "14.Wait"
    },
    "14.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "15.SMS"
    },
    "15.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Sorry for the disruption. I'll update FB/Google/Yelp that this is a closed business.",
              "One last try before I update Google/FB/Yelp/etc with your closure.",
              "Apologies for disturbance. Will update goog/fb/yelp that this is wrong number."
            ]
          }
        }
      },
      "Next": "16.Wait"
    },
    "16.Wait": {
      "Type": "Wait",
      "Seconds": 86400,
      "Next": "17.UpdateHubspot"
    },
    "17.UpdateHubspot": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-update-hubspot",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "object_type": "deal",
            "properties": {
              "dealstage": "4800187",
              "closed_lost_reason": "Unreachable"
            }
          }
        }
      },
      "End": true
    }
  }
}
