src/canvases/intro-hard-sell.json
{
  "Comment": "Hard sell",
  "StartAt": "1.SMS",
  "States": {
    "1.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "People are four times more likely to hire a pro with a professional online brand.",
              "On average, pros with websites do 5.4x more business. They close bigger jobs more often.",
              "Pros with websites can charge 38% more than their less professional competitors.",
              "Pros with a website and good reviews are 3x more likely to close a job",
              "Pros that look professional win more deals and win bigger deals.",
              "Customers prefer pros with websites five to one. Why is your site down?",
              "People buy based on trust. How can someone trust you if your website is down??"
            ]
          }
        }
      },
      "Next": "2.Wait"
    },
    "2.Wait": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "3.SMS"
    },
    "3.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "It's all about trust. If a person can't find you, they can't trust you",
              "Trust drives business. People won't trust you if they can't find you online",
              "It's because of trust. Trust wins jobs, so you need to make it easier for people to trust you",
              "When a lead can't reach your website, they'll worry they can't trust you",
              "Customers want to research you before they buy. You should make it easy for them"
            ]
          }
        }
      },
      "Next": "4.CalculateWaitTime"
    },
    "4.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 1,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "5.Wait"
    },
    "5.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "6.SMS"
    },
    "6.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "I can build you that trust with a website, social profiles, and good reviews",
              "I can help your business and brand earn trust by being more professional online",
              "For $33 and 33 minutes a month, you can get a professional website / social profiles",
              "You can have a professional website / social profiles for $33 and 33 minutes a month",
              "{{website}} can be online and professional again for $33 and 33 minutes a month",
              "{{website}} can be online and professional again for the cost of two 12-packs",
              "Your site can be set up in twenty minutes for the cost of two 12-packs"
            ]
          }
        }
      },
      "Next": "7.CalculateWaitTime"
    },
    "7.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 1,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "8.Wait"
    },
    "8.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "9.SMS"
    },
    "9.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Let me know when you're free. We offer a one-year ROI or your money-back guarantee.",
              "We offer a one-year money-back guarantee on ROI. Let's hop on a quick call so I can explain",
              "Let's hop on a call so I can explain. If you don't turn a profit in a year, we refund you",
              "Let me know when is good for you. We refund one year of service if you don't see ROI",
              "We can hop on a 10 minute call and I can walk you through how it works",
              "Give me a call when you have a sec to discuss our profit guarantee"
            ]
          }
        }
      },
      "Next": "10.CalculateWaitTime"
    },
    "10.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 12,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "11.Wait"
    },
    "11.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "12.SMS"
    },
    "12.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Or do I have the wrong number?",
              "Or are you not {{business_name}}?",
              "Sorry, did I get the wrong number?",
              "Is this not {{business_name}}?",
              "Are you not {{website}}?"
            ]
          }
        }
      },
      "Next": "13.CalculateWaitTime"
    },
    "13.CalculateWaitTime": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-calc-wait-time",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "amount": 18,
            "unit": "hours"
          }
        }
      },
      "ResultSelector": {
        "timestamp.$": "$.Payload.timestamp"
      },
      "ResultPath": "$.wait",
      "Next": "14.Wait"
    },
    "14.Wait": {
      "Type": "Wait",
      "TimestampPath": "$.wait.timestamp",
      "Next": "15.SMS"
    },
    "15.SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.result",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-send-sms",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "message": [
              "Sorry for the disruption. I'll update FB/Google/Yelp that this is a closed business.",
              "One last try before I update Google/FB/Yelp/etc with your closure.",
              "Apologies for disturbance. Will update goog/fb/yelp that this is wrong number."
            ]
          }
        }
      },
      "Next": "16.Wait"
    },
    "16.Wait": {
      "Type": "Wait",
      "Seconds": 86400,
      "Next": "17.UpdateHubspot"
    },
    "17.UpdateHubspot": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:817399776222:function:trades-org-alm-update-hubspot",
        "Payload": {
          "step.$": "$$.State.Name",
          "input.$": "$",
          "body": {
            "object_type": "deal",
            "properties": {
              "dealstage": "4800187",
              "closed_lost_reason": "Unreachable"
            }
          }
        }
      },
      "End": true
    }
  }
}
